<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Address:</b>
  <%= @business.address %>
</p>

<p>
  <b>Description:</b>
  <%= @business.description %>
</p>

<p>
  <b>Website:</b>
  <%= @business.website %>
</p>

<p>
  <b>Twitter:</b>
  <%= @business.twitter %>
</p>

<p>
  <b>Email:</b>
  <%= @business.email %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
