<!DOCTYPE html>
<html>
<head>
  <title>Maplouis</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "http://twitter.github.com/bootstrap/1.4.0/bootstrap.css", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="<%= root_path %>">Start Louis Map</a>
        <ul class="nav">
          <li><%= link_to "Businesses", businesses_path %></li>
          <li><%= link_to "Add Yours", new_business_path %></li>
        </ul>
        <p class="pull-right" style="color:white">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          or
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
        </p>
      </div>
    </div>
  </div>


  <div class="container">

    <% if notice %><div class="alert-message block-message info"><%= notice %></div><% end %>
    <% if alert %><div class="alert-message block-message error"><%= alert %></div><% end %>


    <%= yield %>

    <footer>
      <p class="pull-right"><small>Created by <%= link_to "Chris Oliver", "http://excid3.com" %></small></p>
      <p><small>Made in St. Louis, Missouri<small></p>
    </footer>
  </div>

  <%= yield :scripts %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8399719-12']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</body>
</html>
